app = "scribe-edeyzg"
primary_region = "sjc"

[build]
  dockerfile = "Dockerfile"

[deploy]
  release_command = "/app/bin/social_scribe eval \"SocialScribe.Release.migrate\""

[env]
  PHX_HOST = "scribe-edeyzg.fly.dev"
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  size = "shared-cpu-1x"
  memory = "512mb"
